// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define B_BASE(key) B_LAYER(base, key)

/ {
    behaviors {
	layers {
	    base {
	        t {
	            compatible = "zmk,behavior-tap-dance";
	            label = "base_T";
	            #binding-cells = <0>;
	            tapping-term-ms = <200>;
	            bindings = <&mt LSHFT T>, <&caps_word>;
	        };

	        n {
	            compatible = "zmk,behavior-tap-dance";
	            label = "base_N";
	            #binding-cells = <0>;
	            tapping-term-ms = <200>;
	            bindings = <&mt RSHFT N>, <&caps_word>;
	        };
	    };
        };
    };

    layers {
        base {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        // │  Y          │  C          │  L          │  M          │  K          │   │  Z          │  F          │  U          │  ,;         │  '"         │
             &kp Y         &kp C         &kp L         &kp M         &kp K             &kp Z         &kp F         &kp U         &kp COMMA     &kp SQT
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        // │  I          │  S          │  R          │  T          │  G          │   │  P          │  N          │  E          │  A          │  O          │
             &mt LGUI I    &mt LALT S    &mt LCTRL R   B_BASE(t)     &kp G             &kp P         B_BASE(n)     &mt RCTRL E   &mt RALT A    &mt RGUI O
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        // │  Q          │  V          │  W          │  D          │  J          │   │  B          │  H          │  /\         │  .:         │  X          │
             &kp Q         &kp V         &kp W         &kp D         &kp J             &kp B         &kp H         &kp SLASH     &kp DOT       &kp X
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       &kp SPACE     &kp ENTER         &kp BSPC      &kp SPACE
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };
    };
};
