// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define B_BRACKET(key) B_LAYER(BRACKET, key)

/ {
    keymap {
        bracket {
            bindings = <
        // ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
        // │              │              │              │              │              │   │              |  {           |  \           |  }           |              │
             &none          &none          &none          &none          &none              &none          &kp LBRC       &kp BSLH       &RBRC          &none
        // ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        // │  GUI         │  ALT         │  CONTROL     │  SHIFT       │              │   │  <           │  (           |  |           |  )           |  >           │
             MT_SK(LGUI)    MT_SK(LALT)    MT_SK(LCTRL)   MT_SK(LSHFT)   &none              &kp LT         &kp LPAR       &kp PIPE       &kp RPAR       &kp GT
        // ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        // │              │              │              │              │              │   │              |  [           |  /           |  ]           |              │
             &none          &none          &none          &none          &none              &none          &kp LBKT       &kp FSLH       &kp RBKT       &none
        // ╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────╯
        //                                              |              |              |   |              |              |
                                                          &trans         &none              &none          &none
        //                                              ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };
    };

    behaviors {
        layers {
            bracket {
            };
        };
    };
};
