// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define B_META(key) B_LAYER(meta, key)

/ {
    keymap {
        meta {
            bindings = <
        // ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
        // │  BOOT        │  BT 0        │  BT 1        │  BT 2        │              │   │              │              │              │              │  BOOT        │
             &bootloader    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &none              &none          &none          &none          &none          &bootloader
        // ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        // │              │              │              │  BASE        │              │   │              │              │              │              │              │
             &none          &none          &none          &to L_BASE     &none              &none          &none          &none          &none          &none
        // ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        // │  RESET       │              │              │              │              │   │              │              │              │              │  RESET       │
             &reset         &none          &none          &none          &none              &none          &none          &none          &none          &reset
        // ╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────╯
                                                          &none          &none              &none          &none
        //                                              ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };
    };

    behaviors {
        layers {
            meta {
            };
        };
    };
};
