// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define B_SYM(key) B_LAYER(sym, key)

/ {
    keymap {
        sym {
            bindings = <
        // ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
        // │              |  &           |  ?           |  ^           |  _           │   │              │              │              │              │              │
             &none          &kp AMPERSAND  &kp QMARK      &kp CARET      &kp UNDER          &none          &none          &none          &none          &none
        // ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        // │  `           |  #           |  ~           |  $           |  -           │   │              │  SHIFT       │  CONTROL     |  ALT         |  GUI         │
             B_SYM(grave)   &kp POUND      &kp TILDE      &kp DOLLAR     B_SYM(minus)       &none          MT_SK(RSHFT)   MT_SK(RCTRL)   MT_SK(RALT)    MT_SK(RGUI)
        // ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        // │              |  %           |  !           |  @           |  =           │   │              │              │              │              │              │
             &none          &kp PERCENT    &kp EXCL       &kp AT_SIGN    &kp EQUAL          &none          &none          &none          &none          &none
        // ╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────╯
        //                                              |              |              |   |              |              |
                                                          &none          &none              &none          &trans
        //                                              ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };
    };

    behaviors {
        layers {
            sym {
                grave {
                    compatible = "zmk,behavior-mod-morph";
                    label = "sym_GRAVE";
                    #binding-cells = <0>;
                    bindings = <&kp GRAVE>, <&none>;
                    mods = <(MOD_LSFT|MOD_RSFT)>;
                };

                minus {
                    compatible = "zmk,behavior-mod-morph";
                    label = "sym_MINUS";
                    #binding-cells = <0>;
                    bindings = <&kp MINUS>, <&none>;
                    mods = <(MOD_LSFT|MOD_RSFT)>;
                };
            };
        };
    };
};
